@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .connect-btn {
    @apply font-inika px-4 py-4 md:text-lg font-bold uppercase mx-auto;
    background: url("../images/btn-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* margin: 0px auto; */
  }

  .wallet-btn {
    @apply md:text-xl w-full py-2 outline outline-amber-300 rounded-2xl text-white hover:opacity-70;
  }
}
